$font-playfair-display-regular: PlayfairDisplay-Regular, sans-serif
$font-playfair-display-italic: PlayfairDisplay-Italic, sans-serif
$font-rubik-regular: Rubik-Regular, sans-serif
$font-rubik-italic: Rubik-Italic, sans-serif

$white: #ffffff
$black: #000000
$coral-red: #FF7757
$peach-pink: #FFD2C7
$deep-coffee: #331811
$mahogany-brown: #61291C
$grey: #767E86
$dark-blue: #172432

.overlay
    display: block
    position: fixed
    height: 100%
    width: 100%
    backdrop-filter: blur(10px)
    top: 0
    left: 0
    opacity: 0
    z-index: 100
    pointer-events: none
    transition: opacity 0.5s ease-in-out

.opacity
    opacity: 1

.hide
    display: none !important

.login
    padding: 48px 72px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    z-index: 102
    &__form
        display: flex
        flex-direction: column
        gap: 32px
        background-color: $white
        max-width: 540px
        border-radius: 15px
        border: 0
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25)
        padding: 48px 72px
        z-index: 101
        position: relative
        pointer-events: auto
        .close
            content: ""
            position: absolute
            background: url(../img/popups/close.png) no-repeat 50% 0/contain
            width: 32px
            cursor: pointer
            height: 32px
            right: 10px
            top: 15px
            z-index: 1
        h1
            font-size: 28px
            font-family: $font-rubik-regular
            color: $dark-blue
        &-inputs
            display: flex
            flex-direction: column
            gap: 24px
            &-item
                display: flex
                flex-direction: column
                gap: 12px
                label
                    font-size: 16px
                    font-family: $font-rubik-regular
                input
                    padding: 17px 45px
                    border: 1px solid $coral-red
                    border-radius: 12px
        &-button
            font-size: 20px
            color: $white
            background-color: $coral-red
            font-family: $font-rubik-regular
            padding: 12px 32px
            border: 0
            border-radius: 12px
            transition: background-color .3s ease-in-out
            &:hover
                background-color: inherit
                color: $coral-red
        p
            font-size: 20px
            font-family: $font-rubik-italic
        a
            text-decoration: underline
            color: $mahogany-brown
            margin-left: 10px

.sign
    padding: 48px 72px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &__form
        display: flex
        flex-direction: column
        align-items: center
        gap: 32px
        background-color: $white
        max-width: 540px
        border-radius: 15px
        border: 0
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25)
        padding: 48px 72px
        z-index: 101
        position: relative
        pointer-events: auto
        h1
            font-size: 28px
            font-family: $font-rubik-regular
        h2
            font-size: 20px
            font-family: $font-rubik-regular
            font-weight: bold
            color: #98A2B3
        .close
            content: ""
            position: absolute
            background: url(../img/popups/close.png) no-repeat 50% 0/contain
            width: 32px
            height: 32px
            right: 10px
            top: 15px
        &-btn
            display: flex
            align-items: center
            justify-content: center
            gap: 16px
            .google
                padding: 16px 16px 16px 30px
                gap: 8px
                background-color: $coral-red
                border: 0
                border-radius: 12px
                color: $peach-pink
                font-size: 16px
                font-family: $font-rubik-regular
                cursor: pointer
                position: relative
                max-width: 190px
                width: 180px
                transition: background-color .3s ease-in-out
                &:hover
                    background-color: inherit
                    color: $coral-red
                &::before
                    content: ""
                    position: absolute
                    left: 45px
                    background: url(../img/popups/google-icon.png) no-repeat 50% 0/contain
                    width: 20px
                    height: 20px
            .facebook
                padding: 16px 16px 16px 30px
                gap: 8px
                background-color: $coral-red
                border: 0
                border-radius: 12px
                color: $peach-pink
                font-size: 16px
                font-family: $font-rubik-regular
                cursor: pointer
                position: relative
                max-width: 190px
                width: 180px
                transition: background-color .3s ease-in-out
                &:hover
                    background-color: inherit
                    color: $coral-red
                &::before
                    content: ""
                    position: absolute
                    left: 35px
                    background: url(../img/popups/facebook-icon.png) no-repeat 50% 0/contain
                    width: 20px
                    height: 20px
        &-inputs
            display: flex
            flex-direction: column
            gap: 24px
            width: 100%
            &-item
                display: flex
                flex-direction: column
                gap: 12px
                label
                    font-size: 16px
                    font-family: $font-rubik-regular
                input
                    padding: 17px 45px
                    border: 1px solid $coral-red
                    border-radius: 12px
        &-button
            font-size: 20px
            color: $white
            background-color: $coral-red
            font-family: $font-rubik-regular
            padding: 12px 32px
            border: 0
            border-radius: 12px
            transition: background-color .3s ease-in-out
            width: 100%
            &:hover
                background-color: inherit
                color: $coral-red
        p
            font-size: 20px
            font-family: $font-rubik-italic
        a
            text-decoration: underline
            color: $mahogany-brown
            margin-left: 10px

.slider
    position: relative
    width: 100%
    height: 980px
    z-index: -2
    .slide
        position: absolute
        height: 100%
        width: 100%
        transition: opacity .5s ease-in-out
        opacity: 0
        z-index: 0
        overflow-x: hidden
        &.opacity
            z-index: 1
            opacity: 1
    .slide:nth-child(1)
        background: url("../img/slider/slide-1.png") center/cover no-repeat
    .slide:nth-child(2)
        background: url("../img/slider/slide-2.png") center/cover no-repeat
    .slide:nth-child(3)
        background: url("../img/slider/slide-3.png") center/cover no-repeat
    .slide:nth-child(4)
        background: url("../img/slider/slide-4.png") center/cover no-repeat

.header
    display: flex
    gap: 345px
    align-items: center
    justify-content: space-between
    padding: 50px 180px
    position: absolute
    top: 0
    z-index: 50
    &__logo
        content: ""
        background: url("../img/header/header-logo.png") no-repeat 50% 0/contain
        max-width: 235px
        width: 230px
        height: 45px
    &__nav
        display: flex
        gap: 32px
        align-items: center
        justify-content: center
        &-item
            color: $white
            font-family: $font-rubik-regular
            font-size: 20px
            cursor: pointer
            position: relative
            &::after
                content: ""
                position: absolute
                left: 50%
                bottom: -4px
                width: 0
                height: 3px
                background-color: $coral-red
                transition: width 0.3s ease-in-out
                transform: translateX(-50%)
            &:hover::after
                width: 100%
    &__buttons
        display: flex
        align-items: center
        justify-content: space-between
        gap: 7px
        &-login
            font-size: 20px
            color: $white
            background-color: inherit
            font-family: $font-rubik-regular
            padding: 20px 32px
            border: 0
            border-radius: 12px
            cursor: pointer
            transition: background-color .3s ease-in-out
            z-index: 30
            &:hover
                background-color: $coral-red
        &-signup
            font-size: 20px
            color: $white
            background-color: $coral-red
            font-family: $font-rubik-regular
            padding: 20px 32px
            border: 0
            border-radius: 12px
            transition: background-color .3s ease-in-out
            white-space: nowrap
            cursor: pointer
            z-index: 30
            &:hover
                background-color: inherit

.booking
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-direction: column
    gap: 170px
    padding: 80px 0
    position: absolute
    top: 150px
    z-index: 10
    &__top
        padding-left: 182px
        max-width: 1100px
        &-title
            font-size: 84px
            color: $white
            font-family: $font-playfair-display-regular
            font-weight: normal
        &-subtitle
            font-size: 24px
            color: $white
            font-family: $font-rubik-regular
            font-weight: normal
            padding-top: 16px

.booking__bottom
    display: flex
    align-items: center
    justify-content: space-between
    gap: 40px
    background: #fff
    padding-left: 182px
    border-radius: 0 20px 20px 0
    &-field
        display: flex
        flex-direction: column
        gap: 12px
        label
            color: $grey
            font-family: $font-rubik-regular
            font-size: 16px
        input
            cursor: pointer
            padding-bottom: 10px
            border: none
            border-bottom: 1px solid $black
            color: $dark-blue
            font-size: 20px
            font-family: $font-playfair-display-regular
    &-btn
        border: 0
        background-color: $coral-red
        padding: 60px 20px
        color: $white
        font-size: 36px
        font-family: $font-playfair-display-regular
        border-radius: 0 20px 20px 0
        position: relative
        max-width: 170px
        cursor: pointer
        &::after
            content: ""
            position: absolute
            background: url("../img/booking/booking-arrow.png") no-repeat 50% 0/contain
            width: 21px
            height: 21px
            right: 0
            top: 50%
            transform: translate(-50%,-50%)
        p
            margin-left: -30px

.distanation
    padding: 140px 0 140px 180px
    display: flex
    flex-direction: column
    justify-content: flex-start
    gap: 100px
    width: 100%
    &__top
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        gap: 32px
        position: relative
        &-left
            content: ""
            position: absolute
            bottom: 0
            right: 280px
            background: url("../img/distanation/move.png") no-repeat 50% 0/contain
            width: 60px
            height: 66px
            cursor: pointer
            transform: background .3s ease-in-out
            &:hover
                background: url("../img/distanation/move-hover.png") no-repeat 50% 0/contain
                cursor: pointer
                transform: scale(-1,1)
        &-right
            content: ""
            position: absolute
            bottom: 0
            right: 200px
            background: url("../img/distanation/move-right.png") no-repeat 50% 0/contain
            width: 60px
            height: 66px
            cursor: pointer
            transform: background .3s ease-in-out
            &:hover
                background: url("../img/distanation/move-hover.png") no-repeat 50% 0/contain
                cursor: pointer
        &-title
            color: $dark-blue
            font-size: 64px
            font-family: $font-playfair-display-regular
            position: relative
            padding-bottom: 20px
            &::after
                content: ""
                position: absolute
                left: 0
                bottom: 0
                width: 365px
                height: 3px
                background-color: $coral-red
        &-subtitle
            color: $grey
            font-size: 24px
            font-family: $font-rubik-regular
    &__slider
        display: flex
        gap: 32px
        align-items: center
        justify-content: flex-start
        min-width: 1800px
        scroll-snap-type: x mandatory
        min-height: 670px
        transition: transform 0.5s ease-in-out
        width: max-content
        &-item:nth-child(1)
            flex-shrink: 0
            background: url("../img/distanation/slider/berlin.png") no-repeat 50% 0/cover
            width: 500px
            height: 670px
            position: relative
            border-radius: 26px
            p:nth-child(1)
                margin: 539px 0 0 24px
                color: $white
                font-size: 28px
                font-family: $font-playfair-display-regular
            p:nth-child(2)
                margin: 17px 0 40px 50px
                color: $white
                font-family: $font-rubik-regular
                font-size: 24px
                &::before
                    content: ""
                    position: absolute
                    background: url("../img/distanation/slider/location-icon.png") no-repeat 50% 0/contain
                    left: 24px
                    bottom: 53px
                    width: 24px
                    height: 24px
        &-item:nth-child(2)
            flex-shrink: 0
            background: url("../img/distanation/slider/london.png") no-repeat 50% 0/cover
            width: 500px
            height: 670px
            position: relative
            border-radius: 26px
            p:nth-child(1)
                margin: 539px 0 0 24px
                color: $white
                font-size: 28px
                font-family: $font-playfair-display-regular
            p:nth-child(2)
                margin: 17px 0 40px 50px
                color: $white
                font-family: $font-rubik-regular
                font-size: 24px
                &::before
                    content: ""
                    position: absolute
                    background: url("../img/distanation/slider/location-icon.png") no-repeat 50% 0/contain
                    left: 24px
                    bottom: 53px
                    width: 24px
                    height: 24px
        &-item:nth-child(3)
            flex-shrink: 0
            background: url("../img/distanation/slider/venice.png") no-repeat 50% 0/cover
            width: 500px
            height: 670px
            position: relative
            border-radius: 26px
            p:nth-child(1)
                margin: 539px 0 0 24px
                color: $white
                font-size: 28px
                font-family: $font-playfair-display-regular
            p:nth-child(2)
                margin: 17px 0 40px 50px
                color: $white
                font-family: $font-rubik-regular
                font-size: 24px
                &::before
                    content: ""
                    position: absolute
                    background: url("../img/distanation/slider/location-icon.png") no-repeat 50% 0/contain
                    left: 24px
                    bottom: 53px
                    width: 24px
                    height: 24px
        &-item:nth-child(4)
            flex-shrink: 0
            background: url("../img/distanation/slider/lisbon.png") no-repeat 50% 0/cover
            width: 500px
            height: 670px
            position: relative
            border-radius: 26px
            p:nth-child(1)
                margin: 539px 0 0 24px
                color: $white
                font-size: 28px
                font-family: $font-playfair-display-regular
            p:nth-child(2)
                margin: 17px 0 40px 50px
                color: $white
                font-family: $font-rubik-regular
                font-size: 24px
                &::before
                    content: ""
                    position: absolute
                    background: url("../img/distanation/slider/location-icon.png") no-repeat 50% 0/contain
                    left: 24px
                    bottom: 53px
                    width: 24px
                    height: 24px
        &-item:nth-child(5)
            flex-shrink: 0
            background: url("../img/distanation/slider/lisbon.png") no-repeat 50% 0/cover
            width: 500px
            height: 670px
            position: relative
            border-radius: 26px
            p:nth-child(1)
                margin: 539px 0 0 24px
                color: $white
                font-size: 28px
                font-family: $font-playfair-display-regular
            p:nth-child(2)
                margin: 17px 0 40px 50px
                color: $white
                font-family: $font-rubik-regular
                font-size: 24px
                &::before
                    content: ""
                    position: absolute
                    background: url("../img/distanation/slider/location-icon.png") no-repeat 50% 0/contain
                    left: 24px
                    bottom: 53px
                    width: 24px
                    height: 24px
        &-item:nth-child(6)
            flex-shrink: 0
            padding-bottom: 10px
            background: url("../img/distanation/slider/lisbon.png") no-repeat 50% 0/cover
            width: 500px
            height: 670px
            position: relative
            border-radius: 26px
            p:nth-child(1)
                margin: 539px 0 0 24px
                color: $white
                font-size: 28px
                font-family: $font-playfair-display-regular
            p:nth-child(2)
                margin: 17px 0 40px 50px
                color: $white
                font-family: $font-rubik-regular
                font-size: 24px
                &::before
                    content: ""
                    position: absolute
                    background: url("../img/distanation/slider/location-icon.png") no-repeat 50% 0/contain
                    left: 24px
                    bottom: 53px
                    width: 24px
                    height: 24px

.offer
    padding: 140px 180px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-end
    gap: 100px
    &__top
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-end
        gap: 32px
        position: relative
        width: 100%
        &-title
            color: $dark-blue
            font-size: 64px
            font-family: $font-playfair-display-regular
            position: relative
            padding-bottom: 20px
            &::after
                content: ""
                position: absolute
                right: 0
                bottom: 0
                width: 240px
                height: 3px
                background-color: $coral-red
        &-subtitle
            color: $grey
            font-size: 24px
            font-family: $font-rubik-regular

.offer__slider
    display: flex
    gap: 32px
    align-items: flex-start
    justify-content: center
    max-width: 1600px
    &-city
        display: block
        background: url("../img/offer/lisbon.png") no-repeat 50% 0/cover
        width: 500px
        height: 285px
        border-radius: 26px 26px 0 0
        &.athens
            background: url("../img/offer/athens.png") no-repeat 50% 0/cover
        &.rome
            background: url("../img/offer/rome.png") no-repeat 50% 0/cover
    &-content
        display: flex
        flex-direction: column
        gap: 24px
        padding: 40px 24px
        max-width: 495px
        &-overview
            display: flex
            flex-direction: column
            gap: 8px
        &-title
            color: $grey
            font-size: 28px
            font-family: $font-playfair-display-regular
        &-rating
            display: flex
            align-items: center
            gap: 4px
            &-star
                display: block
                background: url("../img/offer/star.png") no-repeat 50% 0/contain
                width: 24px
                height: 24px
        p
            font-family: $font-rubik-regular
            font-size: 18px
            color: $dark-blue
        &-details
            display: flex
            align-items: center
            justify-content: space-between
            gap: 130px
            p
                font-size: 20px
                font-family: $font-rubik-regular
                color: $grey
                span
                    font-size: 40px
                    color: $coral-red
                    font-family: $font-rubik-regular
                    margin-left: 8px
            button
                padding: 20px 40px
                border: 0
                border-radius: 12px
                background-color: $coral-red
                color: $white
                transform: all .3s ease-in-out
                cursor: pointer
                &:hover
                    transform: scale(1.2)

.blog
    padding: 140px 182px
    display: flex
    flex-direction: column
    gap: 100px
    &__top
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        gap: 32px
        position: relative
        width: 100%
        &-title
            color: $dark-blue
            font-size: 64px
            font-family: $font-playfair-display-regular
            position: relative
            padding-bottom: 20px
            &::after
                content: ""
                position: absolute
                left: 0
                bottom: 0
                width: 150px
                height: 3px
                background-color: $coral-red
        &-subtitle
            color: $grey
            font-size: 24px
            font-family: $font-rubik-regular
    &__container
        display: flex
        align-items: center
        justify-content: center
        gap: 32px
        max-width: 1550px
        &-illustration
            display: block
            background: url("../img/blog/blog-pict.png") no-repeat 50% 0/cover
            width: 760px
            border-radius: 26px
            max-width: 765px
            height: 875px
        &-content
            display: flex
            flex-direction: column
            gap: 24px
            align-items: flex-start
            justify-content: flex-start
            max-width: 760px
            &-title
                font-size: 54px
                color: $dark-blue
                font-family: $font-playfair-display-regular
            &-text
                font-size: 24px
                color: $dark-blue
                font-family: $font-rubik-regular
            &-link
                text-decoration: none
                color: $coral-red
                font-size: 24px
                font-family: $font-rubik-regular
                position: relative
                &::after
                    content: ""
                    position: absolute
                    right: -45px
                    top: 9px
                    background: url("../img/blog/arrow.png") no-repeat 50% 0/contain
                    width: 27px
                    height: 27px

.plans
    display: flex
    gap: 100px
    align-items: center
    justify-content: center
    padding: 140px 0 140px 180px
    &__top
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        gap: 32px
        position: relative
        max-width: 400px
        &-title
            color: $dark-blue
            font-size: 64px
            font-family: $font-playfair-display-regular
            position: relative
            padding-bottom: 20px
            &::after
                content: ""
                position: absolute
                left: 0
                bottom: 0
                width: 150px
                height: 3px
                background-color: $coral-red
        &-subtitle
            color: $grey
            font-size: 18px
            font-family: $font-rubik-regular
        &-btn
            color: $white
            font-size: 18px
            font-family: $font-rubik-regular
            border-radius: 12px
            padding: 20px 40px
            background-color: $coral-red
            border: 0
            transform: all .3s ease-in-out
            cursor: pointer
            position: relative
            margin-left: 40px
            &:hover
                transform: scale(1.1)
            &::after
                content: ""
                position: absolute
                z-index: -1
                background: url("../img/plans/grey-rect.png") no-repeat 50% 0/contain
                width: 43px
                height: 43px
                right: -15px
                top: 35px
            &::before
                content: ""
                position: absolute
                z-index: -1
                background: url("../img/plans/blue-rect.png") no-repeat 50% 0/contain
                width: 43px
                height: 43px
                left: -15px
                top: -20px
    &__slider
        display: flex
        gap: 32px
        align-items: flex-start
        justify-content: center
        width: 1240px
        overflow: auto
        padding: 20px 0 0 75px
        &::-webkit-scrollbar
            background: $white
            border-radius: 5px
        &::-webkit-scrollbar-thumb
            background: $coral-red
            border-radius: 5px
        &::-webkit-scrollbar-thumb:hover
            background: $mahogany-brown
        &-picture
            display: block
            background: url("../img/plans/slider/rome.png") no-repeat 50% 0/cover
            width: 300px
            height: 400px
            border-radius: 26px 26px 0 0
            &.paris
                background: url("../img/plans/slider/paris.png") no-repeat 50% 0/cover
            &.madrid
                background: url("../img/plans/slider/madrid.png") no-repeat 50% 0/cover
            &.budapest
                background: url("../img/plans/slider/budapest.png") no-repeat 50% 0/cover
        &-wrap
            &:hover
                cursor: pointer
                .plans__slider-content
                    max-height: none
                    padding: 20px 0
                    opacity: 1
        &-content
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: space-between
            gap: 32px
            padding: 20px 0
            width: 100%
            opacity: 0
            transition: all .8s ease-in-out
            &-price
                display: flex
                justify-content: space-between
                align-items: center
                gap: 130px
                p
                    font-size: 18px
                    font-family: $font-rubik-regular
                    color: $dark-blue
            &-name
                font-size: 28px
                font-weight: bold
                font-family: $font-playfair-display-regular
            &-down
                display: flex
                gap: 90px
                justify-content: space-between
                align-items: center
            &-rating
                display: flex
                align-items: center
                gap: 4px
                &-star
                    display: block
                    background: url("../img/offer/star.png") no-repeat 50% 0/contain
                    width: 24px
                    height: 24px
                p
                    font-size: 18px
                    font-family: $font-rubik-regular
                    color: $dark-blue

.gallery
    padding: 140px 180px
    display: flex
    flex-direction: column
    justify-content: flex-start
    gap: 100px
    width: 100%
    &__top
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        gap: 32px
        position: relative
        &-left
            content: ""
            position: absolute
            bottom: 0
            right: 280px
            background: url("../img/distanation/move.png") no-repeat 50% 0/contain
            width: 60px
            height: 66px
            cursor: pointer
            transform: background .3s ease-in-out
            &:hover
                background: url("../img/distanation/move-hover.png") no-repeat 50% 0/contain
                cursor: pointer
                transform: scale(-1,1)
        &-right
            content: ""
            position: absolute
            bottom: 0
            right: 200px
            background: url("../img/distanation/move-right.png") no-repeat 50% 0/contain
            width: 60px
            height: 66px
            cursor: pointer
            transform: background .3s ease-in-out
            &:hover
                background: url("../img/distanation/move-hover.png") no-repeat 50% 0/contain
                cursor: pointer
        &-title
            color: $dark-blue
            font-size: 64px
            font-family: $font-playfair-display-regular
            position: relative
            padding-bottom: 20px
            &::after
                content: ""
                position: absolute
                left: 0
                bottom: 0
                width: 280px
                height: 3px
                background-color: $coral-red
        &-subtitle
            color: $grey
            font-size: 24px
            font-family: $font-rubik-regular
    &__slider
        display: flex
        gap: 32px
        align-items: center
        justify-content: space-between
        padding: 38px 0
        &-item:nth-child(1)
            display: block
            background: url("../img/gallery/item-1.png") no-repeat 50% 0/cover
            width: 365px
            height: 570px
            border-radius: 26px
            transition: transform 0.3s ease-in-out
            cursor: pointer
            &:hover
                transform: translateY(-38px)
        &-item:nth-child(2)
            display: block
            background: url("../img/gallery/item-2.png") no-repeat 50% 0/cover
            width: 365px
            height: 570px
            border-radius: 26px
            transition: transform 0.3s ease-in-out
            cursor: pointer
            &:hover
                transform: translateY(-38px)
        &-item:nth-child(3)
            display: block
            background: url("../img/gallery/item-3.png") no-repeat 50% 0/cover
            width: 365px
            height: 570px
            border-radius: 26px
            transition: transform 0.3s ease-in-out
            cursor: pointer
            &:hover
                transform: translateY(-38px)
        &-item:nth-child(4)
            display: block
            background: url("../img/gallery/item-4.png") no-repeat 50% 0/cover
            width: 365px
            height: 570px
            border-radius: 26px
            transition: transform 0.3s ease-in-out
            cursor: pointer
            &:hover
                transform: translateY(-38px)

.reviews
    padding: 140px 0 140px 180px
    display: flex
    flex-direction: column
    justify-content: flex-start
    gap: 160px
    width: 100%
    position: relative
    &__left
        content: ""
        position: absolute
        bottom: 235px
        right: 280px
        background: url("../img/distanation/move.png") no-repeat 50% 0/contain
        width: 60px
        height: 66px
        cursor: pointer
        transform: background .3s ease-in-out
        &:hover
            background: url("../img/distanation/move-hover.png") no-repeat 50% 0/contain
            cursor: pointer
            transform: scale(-1,1)
    &__right
        content: ""
        position: absolute
        bottom: 235px
        right: 200px
        background: url("../img/distanation/move-right.png") no-repeat 50% 0/contain
        width: 60px
        height: 66px
        cursor: pointer
        transform: background .3s ease-in-out
        &:hover
            background: url("../img/distanation/move-hover.png") no-repeat 50% 0/contain
            cursor: pointer
    &__top
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        gap: 32px
        position: relative
        &-title
            color: $dark-blue
            font-size: 64px
            font-family: $font-playfair-display-regular
            position: relative
            padding-bottom: 20px
            &::after
                content: ""
                position: absolute
                left: 0
                bottom: 0
                width: 280px
                height: 3px
                background-color: $coral-red
        &-subtitle
            color: $grey
            font-size: 24px
            font-family: $font-rubik-regular
    &__content
        display: flex
        align-items: center
        justify-content: center
        gap: 32px
        width: 100%
        &-client
            display: flex
            flex-direction: column
            gap: 32px
            align-items: flex-start
            justify-content: space-between
            max-width: 665px
            padding: 60px 40px 40px 40px
            position: relative
            z-index: 9
            &-photo:nth-child(1)
                content: ""
                position: absolute
                background: url("../img/reviews/john.png") no-repeat 50% 0/contain
                width: 100px
                height: 100px
                top: -60px
                left: 40px
                z-index: 10
                border-radius: 50%
                &.smith
                    background: url("../img/reviews/smith.png") no-repeat 50% 0/contain
                &.tamara
                    background: url("../img/reviews/tamara.png") no-repeat 50% 0/contain
            p
                color: $grey
                font-size: 18px
                font-family: $font-rubik-regular
            &-rating
                display: flex
                align-items: center
                gap: 4px
                &-item
                    display: block
                    background: url("../img/offer/star.png") no-repeat 50% 0/contain
                    width: 24px
                    height: 24px
            &-name
                display: flex
                flex-direction: column
            h2
                font-size: 24px
                color: $grey
                font-family: $font-playfair-display-regular
            h3
                font-size: 18px
                color: $grey
                font-family: $font-rubik-regular
    &__subscribe
        padding: 60px 80px
        display: flex
        align-items: center
        justify-content: space-between
        border-radius: 26px
        max-width: 1265px
        z-index: 3
        position: relative
        background-color: $white
        box-shadow: 0 0 4px rgba(0, 0, 0, 30)
        margin-bottom: -150px
        transform: translate(10%, 50%)
        margin-top: 100px
        &-content
            display: flex
            align-items: center
            justify-content: space-between
            gap: 100px
            p
                color: $grey
                font-size: 64px
                font-family: $font-playfair-display-regular
            &-input
                display: flex
                align-items: center
                justify-content: space-between
                gap: 32px
                form
                    display: flex
                    flex-direction: row
                    align-items: center
                    gap: 16px
                label
                    color: $grey
                    font-size: 20px
                    font-family: $font-rubik-regular
                input
                    border: 0
                    padding: 24px 40px
                    background-color: #FFE8D4
                    border-radius: 12px
                    max-width: 375px
                    width: 370px
                    margin-top: 7px
                    &::placeholder
                        color: $coral-red
                        font-size: 20px
                        font-family: $font-rubik-regular
                span
                    font-size: 14px
                button
                    padding: 18px 40px
                    background-color: $coral-red
                    color: $white
                    font-family: $font-rubik-regular
                    font-size: 20px
                    border: 0
                    border-radius: 12px
                    cursor: pointer
                    width: 165px
                    align-self: flex-end

.footer
    padding: 240px 182px 140px 182px
    background-color: $dark-blue
    z-index: 2
    position: relative
    &__container
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        gap: 160px
        align-items: flex-start
        max-width: 1560px
        &-rows
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center
            gap: 13px
            &-logo
                content: ""
                background: url("../img/footer/logo.png") no-repeat 50% 0/contain
                max-width: 235px
                width: 230px
                height: 45px
                align-self: flex-start
            &-rights
                color: $white
                font-size: 14px
                font-family: $font-rubik-regular
                width: 303px
            &-title
                color: $white
                font-size: 24px
                font-family: $font-rubik-regular
                font-weight: medium
                margin-bottom: 3px
                white-space: nowrap
            &-wrap
                display: flex
                flex-direction: column
                gap: 13px
                align-items: flex-start
                max-width: 175px
                cursor: pointer
                &.networks
                    display: flex
                    flex-direction: row
                    gap: 24px
                &-item
                    align-self: flex-start
                    color: $white
                    font-size: 18px
                    font-family: $font-rubik-regular
                    &.facebook
                        content: ""
                        background: url("../img/footer/facebook.png") no-repeat 50% 0/contain
                        width: 32px
                        height: 32px
                        cursor: pointer
                    &.pinterest
                        content: ""
                        background: url("../img/footer/pinterest.png") no-repeat 50% 0/contain
                        width: 32px
                        height: 32px
                        cursor: pointer
                    &.insta
                        content: ""
                        background: url("../img/footer/insta.png") no-repeat 50% 0/contain
                        width: 32px
                        height: 32px
                        cursor: pointer
                    &.twitter
                        content: ""
                        background: url("../img/footer/twitter.png") no-repeat 50% 0/contain
                        width: 32px
                        height: 32px
                        cursor: pointer
