html {
    
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
}

body    {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.header__logo     {
    cursor: pointer;
}


.nav__link {
    display: inline-block;
    padding: 0 20px;
    font-size: 1rem;
    color: rgba(24, 25, 31, 1);
    text-decoration: none;
}

.nav__link:hover    {
    color: aqua;
}

.nav__link a {
    transition: all 0.3s ease 0s;
}

.header__button-login {
    cursor: pointer;
    padding: 9px 25px;
    color: rgba(76, 175, 79, 1);
    border: 0;
    border-radius: 6px;
}

.header__button-login:hover    {
    background-color: rgba(76, 175, 79, 1) ;
    color: rgba(255, 255, 255, 1);
}

.header__button-signup  {
    cursor: pointer;
    padding: 9px 25px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(76, 175, 79, 1);
    border: 0;
    border-radius: 6px;
}

.header__button-signup:hover    {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(76, 175, 79, 1);
}

.slider  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 600px;
}

.slider__container-left {
    height: 276px;
    margin-left: 144px;
}

.lessons    {
    font-size: 4rem;
    color: rgba(77, 77, 77, 1);
}

.green {
    color: rgba(76, 175, 79, 1);
}

.slider__illustration   {
    display: flex;
    justify-content: flex-end;
    margin-right: 144px;
}

.grow {
    color: rgba(113, 113, 113, 1);
    font-size: 1rem;
}

.slider__button {
    display: inline-block;
    cursor: pointer;
    padding: 9px 25px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(76, 175, 79, 1);
    border: 0;
    border-radius: 6px;
}
