html {
    
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
}

body    {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    
}
img{
    width: 100% ;
    height: auto ;
}

header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.header__logo     {
    cursor: pointer;
}


.nav__link {
    display: inline-block;
    padding: 0 20px;
    font-size: 1rem;
    color: rgba(24, 25, 31, 1);
    text-decoration: none;
}

.nav__link:hover    {
    color: rgb(76, 175, 79, 1);
    transition: background-color 0.3s ease;
}

.nav__link a {
    transition: all 0.3s ease 0s;
}

.header__button-login {
    cursor: pointer;
    padding: 9px 25px;
    color: rgba(76, 175, 79, 1);
    border: 0;
    border-radius: 6px;
}

.header__button-login:hover    {
    background-color: rgba(76, 175, 79, 1) ;
    color: rgba(255, 255, 255, 1);
    transition: background-color 0.3s ease;
}

.header__button-signup  {
    cursor: pointer;
    padding: 9px 25px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(76, 175, 79, 1);
    border: 0;
    border-radius: 6px;
}

.header__button-signup:hover    {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(76, 175, 79, 1);
    transition: background-color 0.3s ease;
}

.slider  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 100px;
    height: 600px;
}

.slider__content-title    {
    font-size: 4rem;
    color: rgba(77, 77, 77, 1);
}

.green {
    color: rgba(76, 175, 79, 1);
}

.slider__illustration   {
    display: flex;
    justify-content: flex-end;
    max-width: 400px;
}

.slider__content-subtitle {
    margin-top: 16px;
    color: rgba(113, 113, 113, 1);
    font-size: 1rem;
}

.btn    {
    display: inline-block;
    cursor: pointer;
    padding: 14px 32px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(76, 175, 79, 1);
    border: 0;
    border-radius: 6px;
    text-align: center;
}

.slider__button {
    margin-top: 32px;
}

.slider__button:hover  {
    background-color:  rgba(255, 255, 255, 1);
    color: rgba(76, 175, 79, 1);
    transition: background-color 0.3s ease;
}

.clients    {
    height: 190px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.clients__title-content {
    font-size: 36px;
    color: rgba(77, 77, 77, 1);
    margin: 0;
    text-align: center;
}

.clients__subtitle-content  {
    margin-top: 8px;
    font-size: 16px;
    color: rgba(113, 113, 113, 1);
}

.clients__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 41px auto 0 auto;
    padding: 0 10px;
    gap: 100px;
}

.clients__icons-item {
    max-width: 48px;
    object-fit: contain;
}

.community   {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.community__container    {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 144px;
    gap: 8px;
}

.community__container-item  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.community__title {
    color: rgba(77, 77, 77, 1);
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 16px;
    text-align: center;
}

.community__subtitle {
    color: rgba(113, 113, 113, 1);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    max-width: 250px;
    height: 60px;
    margin: 8px;
    text-align: center;
}

.community__container-item-title {
    color: rgba(77, 77, 77, 1);
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 16px;
    text-align: center;
}

.community__container-item-subtitle {
    color: rgba(113, 113, 113, 1);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    max-width: 250px;
    height: 60px;
    margin: 8px;
    text-align: center;
}

.community__container-item-icon {
    max-width: 64px;
}

.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 42px;
    width: 100%;
}

.instruction__img   {
    max-width: 440px;
}

.instruction__right-title  {
    color: rgba(77, 77, 77, 1);
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.instruction__right-subtitle {
    max-width: 650px;
    color: rgba(113, 113, 113, 1);
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    margin-top: 16px;
}

.instuction__button     {
    margin-top: 32px;
}

.instuction__button:hover  {
    background-color:  rgba(255, 255, 255, 1);
    color: rgba(76, 175, 79, 1);
    transition: background-color 0.3s ease;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}