@media screen and (max-width: 1050px) and (max-width: 950px) {
  .main {
    gap: 35px;
  }

  .slider {
    gap: 50px;
    padding: 80px 25px;
  }

  .slider__content {
    padding: 30px 25px;
    gap: 10px ;
  }

  .instruction {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .instruction__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .header__buttons {
    position: absolute;
    bottom: 10px;
  }

  .instruction__right-title {
    text-align: center;
  }

  .instruction__right-subtitle {
    text-align: center;
  }

  .clients__icons {
    gap: 90px;
  }

  .statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  .statistic__title {
    text-align: center;
  }

  .statistic__subtitle {
    text-align: center;
  }

  .advantages__top-subtitle {
    font-size: 18px;
  }

  .header__burger {
    display: block;
    z-index: 13;
  }

  .header__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(0, -100%);
    z-index: 12;
    background-color: rgba(245, 247, 250, 1);
    width: 100%;
    height: 100%;
    transition: 0.7s ease-in-out;
  }

  .header__logo {
    position: absolute;
    top: 35px;
    left: 50px;
    cursor: pointer;
    max-width: 500px;
  }

  .nav {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  .nav__link {
    font-size: 40px;
    position: relative;
  }

  .nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    opacity: 0;
    transition: opacity 0.5s, transform 0.7s;
    transform: scale(0, 1);
  }

  .nav__link:hover:after {
    opacity: 1;
    transform: scale(1);
  }

  .header__button-login {
    cursor: pointer;
    padding: 18px 50px;
    background-color: rgba(245, 247, 250, 1);
    color: rgba(76, 175, 79, 1);
    border: 0;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-size: 25px;
  }

  .header__button-login:hover {
    background-color: rgba(76, 175, 79, 1);
    color: rgba(255, 255, 255, 1);
  }

  .header__button-signup {
    padding: 18px 50px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(76, 175, 79, 1);
    border: 0;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-size: 25px;
  }

  .footer__right-item-input input {
    margin-top: 10px;
  }

  .header__button-signup:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(76, 175, 79, 1);
  }

  .footer__right-function-item {
    display: none;
  }

  .footer {
    padding: 50px;
  }

  .footer__right-function-title {
    font-size: 25px;
    gap: 15px;
    text-wrap: nowrap;
    position: relative;
    cursor: pointer;
  }

  .footer__right-function-title::after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1rem;
    width: 100%;
    border-bottom: 2px solid;
    padding: 10px;
    margin-top: 10px;
  }

  .footer__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
  }

  .footer__left-copyright-rule {
    font-size: 20px;
  }

  .footer__left-socialnetwork {
    gap: 1px;
  }

  .footer__left-copyright-rights {
    font-size: 20px;
  }
}

@media screen and (max-width: 1250px) and (max-width: 950px) {
  .slider {
    padding: 80px 25px;
  }

  .slider__content-title {
    font-size: 45px;
  }

  .slider__content-subtitle {
    font-size: 14px;
  }

  .slider__illustration {
    max-width: 300px;
  }

  .btn {
    padding: 10px 25px;
  }

  .header {
    padding: 20px 10px;
  }

  .instruction {
    width: 100%;
    gap: 100px;
  }

  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .advantages__bottom-readmore-item {
    max-width: 295px;
  }

  .advantages__bottom-item-wrap {
    margin: -100px auto 0 auto;
    max-width: 265px;
    padding: 8px;
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 100%;
  }  

  .nav {
    gap: 20px;
  }

  .nav__link {
    font-size: 26px;
  }

  .login__form {
    gap: 36px;
    padding: 10px;
  }

  .loginInput,
  .passwordInput,
  .usernameInput {
    padding: 10px;
    width: 100%;
  }

  .login__logButton {
    margin-top: 10px  ;
  }

  .login__form-button-google {
    padding: 5px 70px;
  }

  .login__form-title {
    font-size: 21px;
  }

  .login__close {
    top: 10px;
    max-width: 14px;
  }

  .header__burger {
    top: 30px;
  }

  .clients__icons {
    gap: 70px;
  }

  .article__right {
    max-width: 700px;
  }

  .advantages__bottom-readmore {
    flex-direction: column;
  }

  .demo {
    margin-top: none;
  }

  .footer h2 {
    font-size: 16px;
  }

  .footer__left {
    gap: 25px;
  }

  .footer__left-socialnetwork {
    gap: 3px;
  }

  .footer__right-item-input input {
    width: 200px;
  }

  .footer__left-socialnetwork-item img {
    width: 32px;
    height: 32px;
  }

  .footer__right {
    gap: 15px;
  }

  .footer__right-function-title::after {
    gap: 15px;
  }
}

@media screen and (max-width: 770px) {
  .slider__content-title {
    font-size: 35px;
  }

  .clients__icons {
    gap: 60px;
  }

  .community__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .article__right {
    max-width: 610px;
  }
}

@media screen and (max-width: 710px) {
  .demo__content-title {
    font-size: 58px;
  }

  .clients__icons {
    gap: 50px;
  }

  .footer__left-socialnetwork-item {
    gap: 1px;
  }

  .footer__left-socialnetwork-item img {
    width: 32px;
    height: 32px;
  }

  .footer h2 {
    line-height: 21px;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0;
  }
  
  .slider {
    gap: 60px;
  }

  .slider__content {
    gap: 2px;
    margin: 0;
  }

  .slider__illustration {
    margin: 0;
  }

  .header__logo {
    max-width: 130px;
  }

  .header__burger {
    width: 25px;
    right: 10px;
  }

  .header__button-signup {
    padding: 10px 25px;
    font-size: 20px;
  }

  .header__button-login {
    padding: 10px 25px;
    font-size: 20px;
  }

  .main {
    gap: 15px;
  }

  .clients__icons {
    gap: 30px;
  }

  .instruction {
    gap: 10px;
  }

  .instruction__right-subtitle {
    max-width: 450px;
    align-items: flex-start;
  }

  .statistic__value-item-right {
    align-items: center;
    margin: 0 auto;
  }

  .statistic__value-item-title {
    font-size: 16px;
    line-height: 25px;
  }

  .statistic__value-item-left {
    max-width: 32px;
  }

  .statistic__value {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .instruction__right-title {
    max-width: 440px;
  }

  .article__right-title {
    max-width: 350px;
    text-align: center;
    margin-left: 12%;
  }

  .article__right-button {
    font-size: 15px;
    line-height: 22px;
    gap: 3px;
  }

  .article__right-icon {
    gap: 10px;
  }

  .advantages__top-subtitle {
    max-width: 350px;
  }

  .footer h2 {
    font-size: 14px;
    line-height: 22px;
  }

  .footer__left-copyright-rights {
    display: none;
  }

  .footer__right {
    display: flex;
    flex-direction: row;
  }

  .footer__right-item-input input {
    align-items: center;
    width: 170px;
    padding: 10px 15px;
    margin-top: 10px;
  }

  .statistic__value-item {
    justify-content: flex-start;
    align-items: center;
  }

  .demo__content-title {
    font-size: 30px;
    line-height: 35px;
    
  }

  .footer {
    flex-direction: column;
    gap: 20px;
  }

  .footer__right {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 440px) {
  .header__burger {
    right: 40px;
  }

  .container {
    max-width: 350px;
  }

  .clients__icons {
    gap: 10px;
  }

  .clients__icons-item {
    max-width: 30px;
  }

  .community__title {
    text-wrap: wrap;
  }

  .community__container {
    gap: 35px;
  }

  .article__right-title {
    margin-left: 2%;
  }

  .advantages__bottom-wrap-title {
    font-size: 14px;
    line-height: 20px;
  }

  .demo__content-title {
    line-height: 44px;
  }

  .footer__right {
    align-items: center;
  }

  .footer__right-function-title {
    align-self: center;
  }

  .footer__left-socialnetwork {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  .container {
    max-width: 320px;
  }

  .header__button-signup {
    right: 50px;
  }

  .article__right-button {
    font-size: 12px;
    line-height: 18px;
  }

  .advantages__bottom-wrap-button {
    margin: 5px;
  }

  .advantages__bottom-readmore-item {
    max-width: 270px;
  }

  .advantages__bottom-item-wrap {
    max-width: 230px;
  }
}

@media screen and (max-width: 305px) {
  .container {
    max-width: 295px;
  }

  .slider__illustration {
    max-width: 255px;
  }

  .header__burger {
    right: 10px;
  }

  .header__logo {
    max-width: 100px;
  }

  .community__container {
    gap: 75px;
  }

  .demo {
    font-size: 24px;
    padding: 10px;
    line-height: 32px;
  }
}
